.app-toolbar {
    height: 40px;
    background-color: rgb(37, 37, 37);
    border-bottom: $border;
}

.app-columns {
    height: calc(100% - 40px);
    display: flex;

    .app-column {
        height: 100%;
        position: relative;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        .navigator-icon.bottom {
            align-self: flex-end;
            margin-top: auto;
        }
    }

    .static {
        width: 250px;
        border-right: $border;
        flex-shrink: 0;
    }

    .fit {
        flex-grow: 1;
    }

    .main {
        flex: 1;
    }

    .section {
        padding: 0px;
    }
}