.login {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .login-section {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .modal-content {
        max-height: initial;
    }

    .modal-content > .content > * {
        color: white;
    }

    .full-width {
        width: 100%;
    }
}