.modal {
    transition: opacity 200ms ease;
}

.modal-card {
    transition: all 200ms ease;

    & > * {
        color: white;
    }
}

.modal-card-head,
.modal-card-foot {
    background-color: $darkColor;
}

.modal-card-head {
    border-bottom: $border;
}

.modal-card-foot {
    border-top: $border;
}

.modal-card-body {
    background-color: $selectedDarkColor;

    .field {
        & > *,
        .label {
            color: white;
        }
    }
}

.modal-card-title {
    color: white;
}