//**** Navigation Styling ****//

.section-navigator {
    width: 80px;
    background: $darkColor;
    border-right: $border;

    .navigator-icon {
        width: 60px;
        height: 60px;
        padding: 5px;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: rgb(88, 89, 92);
        transition: 300ms;
        border-radius: 10px;
        -webkit-app-region: no-drag;

        .profile-image {
            border-radius: 50%;
        }

        &:hover,
        &.active-icon {
            color: rgb(120, 120, 120);
            background-color: rgb(60, 60, 60);
            cursor: pointer;
        }
    }
}

.app-nav-item {
    padding: 20px;
    display: flex;
    align-items: center;

    .nav-title {
        flex: 1;
        align-self: center;
        word-break: break-word;
    }

    &.bottom {
        justify-self: flex-end;
        border-top: $border;
        padding: 10px;
    }

    &.selected,
    &:hover {
        background-color: $selectedDarkColor;
        cursor: pointer;
    }
}