.repo {
    position: relative;
    padding: 15px;
    display: flex;
    -webkit-user-drag: element;
    user-select: none;
}

.repo-name {
    display: flex;
    align-items: center;
}

.repo-attr {
    font-weight: normal;
    font-size: 10px;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.actions {
    display: flex;
}

.details {
    flex-grow: 1;
    align-self: center;
}

.clone-button {
    align-self: center;
    flex-shrink: 0;

    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(1px);
    }
}