//**** Utilities ****//

.inner {
    padding: 3rem;
}

.section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(-5px);
    transition: 150ms ease-in-out;
    visibility: hidden;
    opacity: 0;

    &.is-showing {
        transform: translateX(0px);
        visibility: visible;
        opacity: 1;
    }

    .inner {
        width: 100%;
    }
}

.nav-section {
    display: flex;
}

.window-drag {
    -webkit-app-region: drag;
}

.window-no-drag {
    -webkit-app-region: no-drag;
}