.inner {
    padding: 1rem;
}

.window-drag {
    -webkit-app-region: drag;
}

.window-no-drag {
    -webkit-app-region: no-drag;
}

.nav-bg {
    background: $darkColor;
    & > * {
        color: white;
    }
}